<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>StrainMD</title>

	</head>
	<body>

		<div id="dealDiv">
			<h2>Deal Of the Day sponsored by ${featuredDeal.dispensary.name }</h2>
			<table class="featured">
				<tr>
					<td>
						<img src="${featuredDeal.strain.imageUrl}"/>
					</td>
				</tr>
			
			
			
			
			
			</table>
		
			<p>${featuredDeal.strain.description }</p>
			
			<p>Availability at ${featuredDeal.dispensary.name} : ${featuredDeal.availability.toString() }
		
		
		
		</div>



	</body>
</html>
